<nav class="navbar">

    <div class="logo">
        Biblioteca
    </div>

    <div class="menu">
        <a routerLink="/livros">Livros</a>

        @if (ehAluno()) {
        <a routerLink="/meus-emprestimos">
            Meus Empréstimos
        </a>
        }

        <a routerLink="/perfil">Perfil</a>

        @if (ehBibliotecario()) {
        <a routerLink="/gerenciar-livros">Gerenciar Livros</a>
        <a routerLink="/gerenciar-emprestimos">Empréstimos</a>
        <a routerLink="/dashboard">Dashboard</a>
        }
    </div>

    <div class="usuario">
        <span>
            Olá, {{ nomeUsuario() }}
        </span>

        <button (click)="sair()">
            Sair
        </button>
    </div>

</nav>