<div class="container">
  <h1>Livros disponíveis</h1>

  @if (carregando()) {
    <p>Carregando livros...</p>
  }

  @if (erro()) {
    <p class="erro">{{ erro() }}</p>
  }

  <div class="grid-livros">
    @for (livro of livros(); track livro.id) {
      <div class="card-livro">
        <h2>{{ livro.titulo }}</h2>

        <p><strong>Autor:</strong> {{ livro.autor }}</p>
        <p><strong>Gênero:</strong> {{ livro.genero }}</p>
        <p><strong>Categoria:</strong> {{ livro.categoria }}</p>
        <p><strong>Páginas:</strong> {{ livro.numPaginas }}</p>
        <p><strong>Publicação:</strong> {{ livro.anoDePublicacao }}</p>

        <span class="status">
          {{ livro.status }}
        </span>
      </div>
    }
  </div>
</div>