<div class="login-container">
  <div class="login-card">

    <h1>Biblioteca APS</h1>
    <p class="subtitulo">Acesse sua conta</p>

    <form (ngSubmit)="entrar()">

      <label>Email</label>
      <input
        type="email"
        name="email"
        [(ngModel)]="email"
        placeholder="Digite seu email"
        required
      />

      <label>Senha</label>

      <div class="campo-senha">
        <input
          [type]="mostrarSenha() ? 'text' : 'password'"
          name="senha"
          [(ngModel)]="senha"
          placeholder="Digite sua senha"
          required
        />

        <button
          type="button"
          class="botao-olho"
          (click)="alternarSenha()"
          aria-label="Mostrar ou ocultar senha">
          <mat-icon>
            {{ mostrarSenha() ? 'visibility_off' : 'visibility' }}
          </mat-icon>
        </button>
      </div>

      @if (erro()) {
        <p class="erro">{{ erro() }}</p>
      }

      <button class="btn-entrar" type="submit" [disabled]="carregando()">
        @if (carregando()) {
          Entrando...
        } @else {
          Entrar
        }
      </button>

      <a routerLink="/cadastro-aluno" class="link-cadastro">
        Criar conta de aluno
      </a>

    </form>
  </div>
</div>